body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

#app {
  width: 1024px;
  height: 576px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

canvas {
    display: block;
}
